/*

filename: Nguyen Duy Anh

author: Nguyen Duy Anh

created: 03-10-2025

last modified: 03-10-2025

description: layout.css is the name

*/

aside:hover {
    display: block;
}

.menu {
    display: inline-block;
}

nav ul {
    list-style: none;
}


aside {
    border: 4px inset purple;
    border-radius: 14px;
    margin: 1em;
    padding: 1em;
    background:url(./images/fade.jpg) repeat-x top left;
    width: 30%;
    float: right;
    box-shadow: 10px 10px 5px #aaaaaa;
}


header {
    border: 1px solid darkgray;
    margin: 0.5em;
    padding: 0.5em;
    background-color: lightgray;
    text-align: center;
}

footer {
    clear: both;
    border: none;
    border-top: 4px double darkgray; 
    padding-top: 0.5em;
    margin-top: 1em;
}

footer p {
    display: inline-block;
    width: 33%;
}

footer p:first-child {
    float: left;
}

footer p:nth-child(2) {
    text-align: center;
}

footer p:last-child {
    float: right;
    text-align: right;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

#lists {
    float: left;
    width: 48%; 
}

table {
    margin: 0 auto;
}

#tables {
    float: right;
    width: 48%;
}

#hyperlinks {
    clear: both;
    float: left;
    width: 48%;
    text-align: center;
}

#images {
    float: right;
    width: 48%;
    text-align: center;
}

figure {
    border: 2px solid #ccc;
    padding: 0.5em;
}

#lists, #tables, #images { text-align: center; }

ol, ul, dl {
        text-align: left;
}

@media (max-width: 600px) {
    aside, #lists, #tables, #images {
        width: 100%;
        float: none;
    }
    article { min-width: auto; }
    footer p { display: block; width: 100%; }
}